.characters {
  @include section;
  max-width: 1600px;
  padding: 50px 0 98px;

  background-image: linear-gradient(
    180deg,
    #3e3457 0%,
    rgba(62, 52, 87, 0) 100%
  );
  box-shadow: 0px 0px 126px 47px rgba(0, 0, 0, 0.1);
  border-radius: 0px 401px 401px 345.5px;

  &--flex {
    display: flex;
    align-items: center;
  }
}

.characters__img {
  width: 619px;
  height: 575px;
  margin-right: 85px;
  border-radius: 10px;
}

.characters__text-thumb {
  width: 440px;
}

.characters__subtitle {
  @include base-font(16px, 400, 21px, 0.01em);
  color: $accent-main-color;
  text-transform: uppercase;
  margin-bottom: 10px;

  &::after {
    content: "see";
    @include base-font(10px, 400, 12px);
    color: $main-text-color;
    text-transform: lowercase;
    text-align: center;
    transform: translateY(-3px);

    display: inline-block;
    width: 36px;
    height: 15px;
    margin-left: 10px;
    background-color: #000;
    border-radius: 11.5px;
  }
}

.characters__title {
  @include base-font(39px, 700, 55px);
  color: $main-text-color;
  margin-bottom: 25px;
}

.characters__text {
  @include base-font(16px, 400, 26px);
  color: $secondary-text-color;

  margin-bottom: 35px;
}

.characters__link {
  @include primary-button;
}
