$main-text-color: #fff;
$secondary-text-color: #c1c1cb;

$accent-main-color: #4ea4dc;

$bg-color: #3c3153;

$socials-icon-color: #afb1b8;
$bg-footer: #2f303a;

// Cubic-bezier
$bezier-timing: cubic-bezier(0.4, 0, 0.2, 1);

// Fonts
$main-font: "Lato", sans-serif;
